.card {
  display: block;
  margin: 30px auto 10px;
}

.searchcity {
  margin: 10px auto;
}
.searchbutton {
  margin-left: 15px;
  color: white;
  background-color: #b158fa;
  border-radius: 3px;
  border: 0;
  line-height: 35px;
  transition: all 200ms ease-in-out;
}

.searchbutton:hover {
  color: #b158fa;
  background: white;
  border: 1px solid #b158fa;
}
.searching {
  text-align: center;
  margin: 10px, 15px;
  font-size: 20px;
}
.cities {
  text-align: center;
}

.paris,
.dubai,
.seoul,
.la,
.perth {
  text-align: center;
  margin-right: 8px;
  width: 90px;
  line-height: 40px;
  color: rgb(135, 55, 221);
  background-color: rgb(252, 207, 217);
  border: 0;
  border-radius: 15px;
  font-size: 20px;
}
h1 {
  font-size: 50px;
  margin: 10px 35px;
  color: rgb(82, 81, 84);
}
h2 {
  margin: 0 15px 0 40px;
  font-size: 25px;
  font-weight: normal;
  color: rgb(119, 116, 117);
}
#description:first-letter {
  text-transform: capitalize;
  margin-left: 40px;
  font-size: 20px;
}

.today-temp {
  font-size: 65px;
  position: relative;
  left: 20px;
  top: 10px;
}
img {
  position: relative;
  bottom: 4px;
}
.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}
#celsius-temp,
#fahrenheit-temp {
  font-size: 15px;
  text-decoration: none;
}
.unit {
  font-size: 20px;
  position: relative;
  bottom: 35px;
  left: -10px;
  padding: 0;
}

.info {
  position: relative;
  top: 30px;
  left: 10px;
  letter-spacing: 0.5px;
  font-size: 18px;
}
.weather-forecast {
  text-align: center;
  margin: 35px 10px;
}
#icons {
  position: relative;
  right: 10px;
}
.weather-forecast-date {
  font-size: 15px;
}
.forecast-temp-min {
  color: gray;
}
.github-link {
  display: block;
  text-align: center;
}
